body{
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
  }
  .ad1{
    border: 2px solid black;
    border-radius: 7px;
    margin-left: 84px;
    margin-top: 32px;
    height: 264px;
    width: 284px;
  }
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }
  .row{
      /*background-color: white;*/
      color:  black;
      word-spacing: 2px;
      margin-top: 25px;
      font-size: 15px;
  }
  .hd{
      font-size: 25px;
      margin-top: 42px;
      margin-left: 34px;
  }
  .desc{
      margin-top: 27px;
      margin-left: 36px;
      color: black; 

  }
