body{
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
  }
h2{
    text-align: center;
}
.row{
    display: grid;
    /* float: left; */
    /* margin-right: 21px; */
}
.rows{
    color: black;
    /* margin-top: 420px; */
}
.rows>a{
    color: black;
}