body{
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    background-color: #212F3C !important;
  }
  .th{
    color: white;
    text-transform: uppercase;
    text-decoration-line: underline;
    font-size: 27px;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    margin-top: 64px;
}
  .hd{
    font-size: 26px;
    margin-top: 78px;
    text-transform: uppercase;
    color: white;
    margin-left: 56px;
    text-align: center;
  }
  input{
      width: 260px;
  }
  .form-field{
    margin-top:27px;
    color: white;
    text-align: center;
  }
  .submit_btn,.reset_btn{
    height:40px;
    width:110px;
    border-radius: 7px 7px;
  }
  .submit_btn{
    background-color: green;
    color: white;
  }
  .reset_btn{
    background-color: black;
    color: white;
  }